.delete-collection-form {
    .auto-close-text {
        font-size: 0.85rem;
        padding-left: 0.25rem;
        margin-top: 0.5rem;
    }

    .identifier {
        background: #f8f8f8;
        padding: 12px;
        //margin: 16px 0;
        border-radius: 4px;

        &-row {
            display: flex;
            flex-direction: column;

            .label {
                font-family: monospace;
                text-transform: uppercase;
            }

            .value {
                font-weight: 600;
                font-family: monospace;
                font-size: 1.15rem;
                color: #555;
                text-transform: uppercase;
                align-self: flex-end;
            }
        }
    }
}